body {
    --font-tittle: italic small-caps bold 20px cursive;
    --font-text: normal 16px "Fira Sans", serif;

    --bord-r: 7px;

    --animation-func: cubic-bezier(.3,1,1,.26);

    margin: 0;
    padding: 0;
}

.skew__tittle > button {
    cursor:pointer;
    background-color: rgba(255, 255, 255, .9);
    border: none;
    border-radius: var(--bord-r);
    font: var(--font-text);
}

#captcha {
    width: 40%;
    margin-top: 20px;
    margin-left: 30px;
}

#corz {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#value {
    margin-top: 20px;
    margin-left: 30px;
}

#add {
    border-radius: 0;
    margin-left: 20px;
    height: 20px;
}


.skew__cards {
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgb(33,40,50);
    position: relative;
    --skew-deg: 20deg;
    margin: 50px 0;
    
    min-height: 250px;
    max-height: 750px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 100px;

}

.skew__card {
    display: block;
    height: 250px;
    width: 200px;
    position: relative;
}

.skew__card::before, .skew__card::after {
    display: block;
    content: ' ';
    opacity: 0;

    z-index: 2;
    position: absolute;

    width: 50px;
    height: 50px;
    border-radius: var(--bord-r);
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px); 

    transition: opacity .5s;
}

.skew__card::before {
    animation: block__bbefore_from .5s ease 0s 1 normal forwards;
    bottom: 95%;
    left: 20%; 
}

.skew__card::after {
    animation: block__bafter_from .5s ease 0s 1 normal forwards;
    top: 95%;
    right: 10%; 
}

.skew__card:hover::before {
    animation: block__bbefore_to 1s var(--animation-func) .25s 1 normal forwards;
}

.skew__card:hover::after {
    animation: block__bafter_to 1s var(--animation-func) .25s 1 normal forwards;
}

.skew__card:hover::before, 
.skew__card:hover::after {
    opacity: 1;
    display: block;
}


@keyframes block__bbefore_to {
    from {
        bottom: 95%;
    }
    to {
        bottom: 75%;
    }
}
@keyframes block__bbefore_from {
    from {
        bottom: 75%;
    }
    to {
        bottom: 95%;
    }
}

@keyframes block__bafter_to {
    from {
        top: 95%;
    }
    to {
        top: 75%;
    }
}
@keyframes block__bafter_from {
    from {
        top: 75%;
    }
    to {
        top: 95%;
    }
}

.skew__tittle {
    line-height: 20px;
    position: absolute;
    top: 50%;

    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    
    border-radius: var(--bord-r);
    padding: 10px 20px;
    height: 120px;
    width: 80%;

    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(5px);

    color: whitesmoke;
}


.tittle {
    font: var(--font-tittle);
}
span {
    font: var(--font-text);
}

.skew__tittle > button {
    margin-top: 10px;
    margin-left: 5px;
    padding: 3px 5px;
    width: 55%;
}

.skew__block {
    display: block;
    height: 100%;
    width: 55%;
    
    position: absolute;
    left: 50%;

    border-radius: var(--bord-r);
    
    transform: skew(var(--skew-deg)) translateX(-50%);
    transition: all .5s ease;
}

.block1 {
    filter: drop-shadow(0px 0px 20px rgba(222,0,0));
    background: linear-gradient(-30deg, 
    rgba(180,233,0,0.9) 10%, 
    rgba(219,0,0,0.8) 60%);;
}

.block2 {
    
    filter: drop-shadow(0px 0px 20px rgba(0,158,233,0.4));
    background: linear-gradient(-27deg, 
    rgba(0,158,233,0.7) 30%, 
    rgba(219,0,85,0.8) 94%);
}

.block3 {
    background: linear-gradient(-30deg, 
    rgb(167,219,0) 2%, 
    rgb(104,176,28) 41%,
    rgb(0,137,233) 98%);
    filter: drop-shadow(0 0 10px rgb(104,176,28));
}

.skew__card:hover .skew__block {
    transform: skew(0deg) translateX(-50%);
}