.halk, .batman, .spider_man {
    display: block;
    position: relative;
    float: left;
    min-height: 510px;
    margin: 10px;
}


/* { border: 2px solid black; }*/


#hat {
    transform: matrix(0, 2em);
    background-color: rgb(207, 207, 255);
    position: sticky;
    top: 0;
}

#hat > img {
    height: 35px;
    width: 35px;
    vertical-align: middle;
    border: none;
}
#hat > p {
    display: inline-block;
    text-align: center;
    font-size: 17px;
}
nav {
    position: relative;
    background-color: #fff;
}

.sign {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-width: 20px;
    max-width: 100px;
    margin: 1px 10px;
    border: 2px dotted blue;
    padding: 2px;
}

dt, dd {
    min-width: 300px;
    max-width: 400px;
}


figure img {
    border: 2px solid gray;
    border-radius: 5%;
    width: 167px;
    height: 300px;
}

figure>figcaption:hover {
    text-shadow:  #f0f 3px 3px 2px;
}

dd:hover {
    text-shadow:  #f0a 3px 3px 2px;
    font-style: italic;
}
body {
    margin: 0;
}

aside {
    z-index: 1;
    position: sticky;
    top: 0;
    bottom: 0;
    float: right;
    font-family:'Courier New', Courier, monospace;
    width: 100px;
}

aside:hover {
    color: blueviolet;
}

img:hover {
    border-radius: 5%;
    border: 2px blue;
    border-style: solid;
}

a:active {
    color: red;
}

#contacts {
    font-style: italic;
    display: block;
}
#contacts > a {
    padding: 1px 10%;
}

dt ~ dd {
    background-color: #fff;
    border-width: 2px;
    border-style: groove;
    border-color: #000;
    width: 70%;
    margin: 1px 10px;
    padding: 2px;
}



 main + article {
    color: #040;
 }
 footer {
    display: inline-block;
    margin: 20px 10px;
    padding: 10px;
 }

ol, ol>ul {
    display: table;
}
ul {
    list-style: inside;
}